[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-feather = "*"
pillow = "*"
django-watson = "*"
gunicorn = "*"
django-tinymce = "*"

[requires]
python_version = "3.7"
