<!DOCTYPE html>
{% load static %}
{% load icon %}
<html>
    <head>
        <title>{% block title %}echen's blog{% endblock title %}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" />
        <link href="{% static 'css/base.css' %}" rel="stylesheet">

        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    </head>
    <body>
        <script>
            let darkmode = localStorage.getItem('darkmode');
            
            
            if (darkmode === 'enabled') {
                document.body.classList.add('dark-mode');

                                              
            }
            
        </script>

        <div class="container">
            
            <div class="dots" style="padding-top: 5rem;">
                <a id="dots-no-link" href="{% url 'home' %}">
                    <span class="dot" style="background-color:#d9534f;"></span>
                    <span class="dot" style="background-color:#ff8f17;"></span>
                    <span class="dot" style="background-color:#f0ad4e;"></span>
                    <span class="dot" style="background-color:#5cb85c;"></span>
                    <span class="dot" style="background-color:#5bc0de;"></span>
                    <span class="dot" style="background-color:#a45fed;"></span>
            </div>
            
            <br>
            
            
            {% block content %}
            {% endblock content %}
            <footer class="page-footer font-small pt-4 mb-4">

                <!-- Footer Elements -->
                <div class="container">
              
                  <!-- Social buttons -->
                  <ul class="list-unstyled list-inline text-center">
                    <li class="list-inline-item">
                        <a class="btn-floating mx-1 text-info" href="http://echen.io" target="_blank">
                          {% icon 'home' %}
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a class="btn-floating mx-1 text-info" href="https://github.com/cloudui/" target="_blank">
                          {% icon 'github' %}
                        </a>
                      </li>
                    <li class="list-inline-item">
                      <a class="btn-floating mx-1 text-info" href="https://instagram.com/violeric/" target="_blank">
                        {% icon 'instagram' %}
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="btn-floating mx-1 text-info" href="https://twitter.com/below_ocean/" target="_blank">
                        {% icon 'twitter' %}
                      </a>
                    </li>
                   
                    
                    
                  </ul>
                  <!-- Social buttons -->
              
                </div>
                
              </footer>
        </div>


		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		

        
    </body>
</html>