{% extends '_base.html' %}
{% load icon %}

{% block content %}

  <br>
 <br>
 <div class="infinite-container">

{% for post in posts %}
<div class="infinite-item">

{% include 'post_preview.html' %}
<br>
</div>
{% endfor %}
 </div>

 {% if page_obj.has_next %}
                <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
                {% endif %}
                {% if posts.count > 5 %}
                <div class="d-flex justify-content-center" style="display:none;">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                {% endif %}
{% endblock content %}

{% block script %}
  <script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        handler: function(direction) {

    },
    offset: 'bottom-in-view',

    onBeforePageLoad: function () {
    $('.spinner-border').show();
    },
    onAfterPageLoad: function () {
    $('.spinner-border').hide();
    }

    });
    $('.infinite-more-link').on('click', function(e) {
    e.preventDefault();
    infinite.waypoint.trigger();
});
</script>
  {% endblock script %}