{% load icon %}

<h3 class="mb-0 mt-4"><strong><a class="text-info" href="{% url 'detail' post.slug %}">{{ post.title }}</a></strong>
    {% if request.user.is_staff %}
    <span><a class="text-secondary" href="{% url 'update' post.slug %}">{% icon 'edit' style="position: relative; bottom: 3px;" height="18" width="18" %}</a></span>
    {% endif %}
  </h3>
  <p class="text-secondary">{{ post.date_short }}</p>
  
  <p>{{ post.body_short|safe }}</p>
  <p><a class="text-info" href="{% url 'detail' post.slug %}">Continue Reading</a></p>