{% extends '_base.html' %}

{% block title %}Zoom{% endblock title %}

{% block content %}

<p class="lead">P1: <a target="_blank" href="https://mcpsmd.zoom.us/j/98243367899?pwd=My9IWkZhOWt1STdyS21xRDNqRTh3dz09">Physics</a></p>
<p class="lead">P2: <a target="_blank" href="https://mcpsmd.zoom.us/j/9897407100?pwd=SGJqaGxTb2VhNE1LQlVnRHlyb1FxZz09">Net Sports</a></p>
<p class="lead">P3: <a target="_blank" href="https://www.google.com/url?q=https://mcpsmd.zoom.us/j/95267845069?pwd%3DY3BQeDdYVGN1cnpXMGFLclIySXNIUT09&sa=D&source=hangouts&ust=1612275207796000&usg=AFQjCNE4QSMgpdE0svbgAWE5r8bWAPBZ5w">Complex Analysis</a></p>
<p class="lead">P4: <a target="_blank" href="https://mcpsmd.zoom.us/j/98836674450?pwd=ZXRrWkttMktvS0dud1dWU09XK0tqQT09"> Study Hall</a></p>

<p>EAT SOME LUNCH MF</p>

<p class="lead">P6: <a target="_blank" href="https://mcpsmd.zoom.us/j/89648168786?pwd=bkhsWVNYRFBMQWRXSWRvWFpnWk1Bdz09&uname=Chen%2C+Eric+Q+%28Student%29">Entomology</a></p>
<p class="lead">P7: <a target="_blank" href="https://mcpsmd.zoom.us/j/85894902916?pwd=ZUF2c3FxaC9RWkw1c2ZDTzg1NU1ydz09&uname=Chen%2C+Eric+Q+%28Student%29">English</a></p>
<p class="lead">P8: <a target="_blank" href="https://mcpsmd.zoom.us/j/89716657156?pwd=bDFMb3ZoRWlJZjVyTGRsTUZETmJJUT09">Orchestra</a></p>
<p class="lead">P9: <a target="_blank" href="#">Discrete</a></p>


{% endblock content %}