{% extends '_base.html' %}

{% block title %}Zoom{% endblock title %}

{% block content %}

<p class="lead">P1: <a href="https://mcpsmd.zoom.us/j/97964717454?pwd=bGhhbEdKMmFmTkpXUTZCZ29ld3Rndz09&uname=Chen%2C+Eric+Q+%28Student%29">English</a></p>
<p class="lead">P2: <a href="https://mcpsmd.zoom.us/j/97709059937?pwd=Y0xSL1Z4RWh4d0tJbUw2dVlsbzd0UT09">Earth Science</a></p>
<p class="lead">P3: <a href="https://mcpsmd.zoom.us/j/98836674450?pwd=ZXRrWkttMktvS0dud1dWU09XK0tqQT09">Study Hall</a></p>
<p class="lead">P4: <a href="https://mcpsmd.zoom.us/j/98243367899?pwd=Z0M5ajNsOCtBN2lHb1V5RkIxb09YZz09"> Physics</a></p>

<p>EAT SOME LUNCH MF</p>

<p class="lead">P6: <a href="https://mcpsmd.zoom.us/j/93631227736?pwd=QUlUSkZMNlpFWjBRNVFON0xRei9nQT09">SRP</a></p>
<p class="lead">P7: <a href="https://mcpsmd.zoom.us/j/92450334098?pwd=VUV2UmNlWEx0V251ODQvak56ejVBUT09">PoliStat</a></p>
<p class="lead">P8: <a href="https://mcpsmd.zoom.us/j/641673832?pwd=ZmZ0NEtuSWR4UE84N3h0dkJBb0NRZz09">Orchestra</a></p>
<p class="lead">P9: <a href="https://mcpsmd.zoom.us/j/96404944690?pwd=VzF4YW9oU0psd1ZnSjMzdGsxOVJidz09&uname=Chen%2C+Eric+Q+%28Student%29">General PE</a></p>


{% endblock content %}